body{
    margin: 0px;
}

.navbar{
    background-color: #a83268;
}
.navbar-brand {
    color: #fff;
}
.nav-item a{
    color: #fff;
    border-bottom: 1px solid transparent;
}

.nav-item a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
}  
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 250, 250, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}