.card-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.card:hover{
    background-color: #a83268;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.card-active{
    background-color: #a83268;
    color: #fff;
}
