{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/formulaire.css')}}">
	<script src="{{url_for('static', filename='js/formulaire.js')}}"></script>
    <title>Formulaire d'Inscription</title>
{% endblock %}

{% block content %}
	<div class="container mt-5 pt-5">
		<h2 class="text-center">Êtes-vous un ?</h2>
		<div class="row mt-3 justify-content-center align-items-center">
			<div class="col-md-3">
				<div class="card card-active" id="studentCard" onclick="loadStudentForm()">
					<div class="card-body">
						<img class="card-icon" src="https://img.icons8.com/ios-glyphs/50/000000/graduation-cap--v1.png"/>
						<h5 class="card-title">Un étudiant</h5>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card" id="employeCard" onclick="loadEmployeForm()">
					<div class="card-body">
						<img class="card-icon" src="https://img.icons8.com/ios-filled/50/000000/engineer.png"/>
						<h5 class="card-title">Un Employé</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container mt-4">
		<p class="text-center text-muted">Tous les champs sont obligatoires</p>

		<form id="studentForm" class="" method="POST" action="/addStudent">
			<div class="row justify-content-center mt-3">
			  <div class="form-group col-md-3">
				<label for="nom" required="required">Nom: </label>
				<input type="text" class="form-control" name="nom" required="required">
			  </div>
			  <div class="form-group col-md-3">
				<label for="prenom">Prénom: </label>
				<input type="text" class="form-control" name="prenom" required="required">
			  </div>
			</div>
			<div class="row justify-content-center mt-3">
			  <div class="form-group col-md-3">
				<label for="dn">Date de naissance:</label>
				<input type="date" name="date_naissance" class="form-control" required="required">
			  </div>
			  <div class="form-group col-md-3">
				<label for="sexe">Sexe:</label>
				<select name="sexe" id="sexe" class="form-control">
					<option value="male">male</option>
					<option value="femelle">Femelle</option>
				</select>
			  </div>
			</div>
			  	<div class="row justify-content-center mt-3">
					<div class="form-group col-md-3">
						<label for="pays">Résidence:</label>
							<select name="pays" id="pays" class="form-control">
								{% for country in countries %}
									<option value={{country}}>{{country}}</option>
								{% endfor %}
							</select>
					</div>
					<div class="form-group col-md-3">
						<label for="univ">Université: </label>
						<select name="universite" id="univ" class="form-control">
							{% for univ in universities %}
								<option value="{{univ}}">{{univ}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row justify-content-center align-items-center mt-3">				  
					<div class="form-group col-md-3">
						<label for="niveauetu">Niveau d'étude:</label>
						<select name="niveau_etude" id="nivetu" class="form-control">
							<option value="l1">L1</option>
							<option value="l2">L2</option>
							<option value="l3">L3</option>
							<option value="m1">M1</option>
							<option value="m2">M2</option>
							<option value="doctorat">Doctorat</option>
						</select>
					</div>
					<div class="form-group col-md-3">
						<label for="formation">Spécialité:</label>
						<select name="specialite" id="specialite" class="form-control">
							{% for formation in formations %}
								<option value="{{formation}}">{{formation}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row justify-content-center text-center">
					<div class="form-group col-md-6 pt-4">
						<button type="submit" class="btn btn-primary send-btn">Envoyer</button>
					</div>
				</div>
				
		  </form>

		  <form id="employeForm" class="hide-form" method="POST" action="/addEmploye">
			<div class="row justify-content-center mt-3">
			  <div class="form-group col-md-3">
				<label for="nom">Nom: </label>
				<input type="text" class="form-control" name="nom" required="required">
			  </div>
			  <div class="form-group col-md-3">
				<label for="prenom">Prénom: </label>
				<input type="text" class="form-control" name="prenom" required="required">
			  </div>
			</div>
			<div class="row justify-content-center mt-3">
			  <div class="form-group col-md-3">
				<label for="dn">Date de naissance:</label>
				<input type="date" name="date_naissance" class="form-control" required="required">
			  </div>
			  <div class="form-group col-md-3">
				<label for="sexe">Sexe:</label>
				<select name="sexe" id="sexe" class="form-control">
					<option value="male">male</option>
					<option value="femelle">Femelle</option>
				</select>
			  </div>
			</div>
			  	<div class="row justify-content-center mt-3">
					<div class="form-group col-md-3">
						<label for="pays">Résidence:</label>
							<select name="pays" id="pays" class="form-control">
								{% for country in countries %}
									<option value={{country}}>{{country}}</option>
								{% endfor %}
							</select>
					</div>
					<div class="form-group col-md-3">
						<label for="diplome">Diplôme: </label>
						<select class="form-control" name="diplome">
							<option value="none" selected>Aucun</option>
							<option value="ing">Ingénieur</option>
							<option value="bts">Technicien supérieur</option>
							<option value="bt">Technicien</option>
							<option value="lic">Licence</option>
							<option value="mast">Master</option>
							<option value="phd">Doctorat</option>
						</select>
					</div>
				</div>
				<div class="row justify-content-center align-items-center mt-3">
					<div class="form-group col-md-3">
						<label for="fonction">Fonction: </label>
						<input type="text" class="form-control" name="fonction" required="required">
					</div>

					<div class="form-group col-md-3">
						<label for="experience">Années d'expérience:</label>
						<input class="form-control" type="number" name="experience" id="experience" step="1" min="0" max="60"required="required">
					</div>
					
				</div>
				<div class="row justify-content-center text-center">
					<div class="form-group col-md-6 pt-4">
						<button type="submit" class="btn btn-primary send-btn">Envoyer</button>
					</div>
				</div>
				
		  </form>
	</div>
{% endblock %}