{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
	<title>Etudiants takerboustois | Accueil</title>
{% endblock %}

{% block content %}
	<header>
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container">
			  <a class="navbar-brand" href="#">Takerboust</a>
			  <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Accueil</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Formulaire</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Statistiques</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </nav>
	</header>
	<body>
		<div class="header">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250"><path fill="#a83268" fill-opacity="1" d="M0,64L24,53.3C48,43,96,21,144,26.7C192,32,240,64,288,101.3C336,139,384,181,432,181.3C480,181,528,139,576,106.7C624,75,672,53,720,74.7C768,96,816,160,864,176C912,192,960,160,1008,149.3C1056,139,1104,149,1152,138.7C1200,128,1248,96,1296,106.7C1344,117,1392,171,1416,197.3L1440,224L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"></path></svg>
			<div class="container">
				<div class="row align-items-center justify-content-center">
					<div class="col-md-6">
						<h1>Bienvenue cher étudiant takerboustois</h1>
						<p>
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis ducimus, corrupti ipsam cumque accusantium ipsum dolorem ullam a voluptate iusto amet temporibus 
						</p>
						
						<button class="btn btn-outline-primary mt-4 btn-join">Nous rejoindre</button>
					</div>
					<div class="col-md-6">
						<img src="{{url_for('static', filename='assets/headerimg.jpg')}}" class="header_image">
					</div>
				</div>
			</div>
		</div>
		

		<div class="container mt-5 mb-5">
			<h2 class="text-center">Notre communauté en chiffres</h2>
			<div class="row mt-5 justify-content-center align-items-center">
				<div class="col-md-3">
					<div class="card text-center">
						<div class="card-body">
							<img class="card-icon" src="https://img.icons8.com/ios-glyphs/100/000000/graduation-cap--v1.png"/>
							<h5 class="card-title">+200 étudiants</h5>
						</div>
					  </div>
				</div>
				<div class="col-md-3">
					<div class="card text-center">
						<div class="card-body">
							<img class="card-icon" src="https://img.icons8.com/ios-filled/100/000000/engineer.png"/>
							<h5 class="card-title">+50 ingénieurs</h5>
						</div>
					  </div>
				</div>
				<div class="col-md-3">
					<div class="card text-center">
						<div class="card-body">
							<img class="card-icon" src="https://img.icons8.com/ios-glyphs/100/000000/group.png"/>
							<h5 class="card-title">+10 associations</h5>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</body>
{% endblock %}

