{% extends "base.html" %}

{% block head %}
	<title>Statistiques</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/statistics.css')}}">
{% endblock %}

{% block content %}
	<div class="container text-center">
		<h1>Takerboust everywhere! </h1>
		<p>une pépinières d'intellectuels, de chercheurs et de futures ingénieurs </p>
	</div>

	<div id="charts" class="container">
		
		<canvas id="myBar" width="120" height="30"></canvas>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="{{url_for('static', filename='js/statistics.js')}}"></script>
{% endblock %}